*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    width: 100vw;
}
#hero-container, footer{
    background-color: #1F2937;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
}
section{
    width: 800px;
    margin: 0 auto;
}
#logo{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    flex-grow: 1;
}
#hero-content{
    display: flex;
    padding: 100px 0;
}
h1{
    font-size: 48px;
    color: #F9FAF8
}
#hero-text{
    width: 50%;
    padding-right: 40px;
    color: aliceblue;
}

#hero-text button{
    background-color: #3882F6;
    color: white;
    padding: 5px 24px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
}
#hero img{
    width: 50%;
    height: 200px;
    background-color: grey;
    text-align: center;
    align-items: center;
}
h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 40px;
}
#cards-container{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-align: center;
}
#cards-container img{
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}
.card{
    width: 150px;
    color: #1F2937;
}
#info{
    padding-bottom: 100px;
}
#quote-container{
    background-color: #E5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937
}
#quote{
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
}
#author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}
footer{
    text-align: center;
    padding: 30px;
}